<template name="login">
    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Bienvenue</h2>
                <div class=" bot-img-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis placerat nisl non eleifend. Aliquam hendrerit posuere quam quis tempor. Praesent sed lacus sit amet quam pellentesque lobortis nec ac augue. Phasellus auctor, eros et molestie pulvinar, massa tellus elementum tortor, et pellentesque tortor sapien id ex. Cras dapibus arcu tortor, in consectetur nisl convallis vitae. Mauris ac metus nec massa blandit iaculis ut a sapien. Praesent pharetra mi orci, vitae convallis neque ultrices et. Aenean faucibus orci non elit fermentum luctus. Sed nec laoreet erat. Mauris nulla massa, vestibulum et nisi accumsan, molestie venenatis lacus. Cras aliquet quam et interdum porta.   
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form" id="login-form" action="/dashboard1">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control required" placeholder="Email" required="" >
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password"  class="form-control required" placeholder="password" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                        <a href="#">
                            <small>Mot de passe oubliee</small>
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Saaed
            </div>
            <div class="col-md-6 text-right">
                <small>© 2017</small>
            </div>
        </div>
    </div>
</template>