<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="/img/profile_small.jpg" />
                             </span>
                    </div>
              
                </li>
                
                <li class="{{isActivePath regex='bot|projects'}}">
                    <a href="/projects"><i class="fa fa-user-secret"></i> {{_ "bots"}}</a>
                </li>
                <li class="{{isActivePath regex='/intents'}}">
                    <a href="/intents"><i class="fa fa-filter"></i> {{_ "intents"}}</a>
                </li>
                <li class="{{isActivePath regex='/entities'}}">
                    <a href="/entities"><i class="fa fa-suitcase"></i> {{_ "entities"}} </a>
                </li>
                <li class="{{isActivePath regex='/messages'}}">
                    <a href="/messages"><i class="fa fa-envelope"></i> {{_ "messages"}} </a>
                </li>
                <li class="{{isActivePath regex='/profile'}}">
                    <a href="/profile"><i class="fa fa-user"></i> {{_ "profile"}}</a>
                </li>
            </ul>

        </div>
    </nav>
</template>