<template name="mainLayout2">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> navigation }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            {{> topNavbar }}

            <!-- Main view  -->
            {{>Template.dynamic template=content}}

            <!-- Footer 
        {{> footer }}-->
        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->

    </div>
    <!-- End wrapper-->

</template>